################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interview/bin/Debug
/Interview/obj
/packages
/Interview/Interview.csproj.user
/FlightRepository/bin/Debug
/FlightRepository/obj
